/* FONTS ==================================================================== */
@font-face {
    font-family: 'pacifico';
    src: url('fonts/pacifico/Pacifico.ttf') format('truetype');
}

.pacifico-font {
    font-family: 'pacifico';
}

/* BASE ===================================================================== */

html, body {
    height: 100%;
    background-color: #50514F;
}

.content-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* INDEX ==================================================================== */

.navigation-wrapper {
    background-color: #2D2D2C;
    -webkit-font-smoothing: antialiased;
    height: 60px;
    overflow: hidden;
    font-size: 14px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.navigation-wrapper.open {
    height: 9em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pure-menu-heading {
    padding: 0em;
    text-transform: lowercase;
    font-size: 30px;
    color: #F25F5C;
    line-height: 50px;
    text-shadow: 1px 1px 0px white;
}

nav .navigation-wrapper ul.pure-menu-list {
    margin-top: 15px;
}

nav .navigation-wrapper ul.pure-menu-list a {
    color: #FFE066;
}

nav .navigation-wrapper ul.pure-menu-list a:hover {
    background-color: transparent;
    color: #70C1B3;
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .content-container {
        max-width: inherit;
        margin-left: inherit;
        margin-right: inherit;
        padding-left: 10px;
        padding-right: 10px;
    }

    .custom-toggle {
        display: block;
    }

}

/* HOME ===================================================================== */

.normalize-image {
    padding-bottom: 10px;
}

.header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 975px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
    margin-bottom: 29px;
}

.header h1 {
    font-weight: 200;
}

.header h2 {
    font-weight: 200;
}

/* ADMIN ==================================================================== */

.form-container {
    max-width: 200px;
    margin-left: 14px;
}